@use "../functions" as f;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: f.color(background);
  color: f.color(text);
  font-family: f.font-family(main);
  font-size: f.base-size();
  line-height: f.lines(1);
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
