@use "../functions" as f;

* {
  box-sizing: border-box;
}

html,
body {
  color: f.color(text);
  font-size: f.base-size();
  font-family: f.font-family(main);
  line-height: f.lines(1);
  background: f.color(background);
}
