@use "sass:map";
@use "sass:math";
@use "sass:string";

@function theme(
  $text: #000000,
  $primary: #000000,
  $secondary: #000000,
  $background: #fff
) {
  @return (
    colors: (
      text: $text,
      primary: $primary,
      secondary: $secondary,
      background: $background,
    )
  );
}
