@use "sass:map";
@use "sass:math";
@use "sass:string";
@use "functions" as f;

$-base-line-height: 1.7411;
$-line-heights: (0.25, 0.5, 0.75, 1, 1.5, 2);
$-modular-scale: 1.2;
$-smaller-sizes: 2;
$-larger-sizes: 6;

@function theme(
  $text: #000000,
  $primary: #000000,
  $secondary: #000000,
  $background: #fff
) {
  @return (
    colors: (
      text: $text,
      primary: $primary,
      secondary: $secondary,
      background: $background,
    ),
    base-size: 100%,
    modular-scale: $-modular-scale,
    smaller-sizes: $-smaller-sizes,
    larger-sizes: $-larger-sizes,
    sizes: f.generate-sizes($-modular-scale, $-smaller-sizes, $-larger-sizes),
    base-line-height: $-base-line-height,
    line-heights: $-line-heights,
    lines: f.generate-lines($-base-line-height, $-line-heights),
    spacer-base: 0.25rem,
    spacer-factors: (
      1,
      2,
      4,
      6,
      8,
    ),
    gutter: 1.5rem,
    measure: 65ch
  );
}
