/**
 * This module adds utility classes for paddings and margins based on the theme
 * configuration.
 *
 * By default, the classes for horizontal margins and paddings are based on
 * the `spacer-base` and `spacer-factors` properties of the theme, while the
 * classes for vertical margins and paddings are based on the configured line
 * heights. Also, utility classes for top margins have been omitted, since
 * mixing top and bottom margins is error-prone.
 */

@use "../functions" as f;

@each $key, $value in f.theme(lines) {
  #{".pt-l-" + $key} {
    padding-top: var(#{"--lines-" + $key}) !important;
  }

  #{".pb-l-" + $key} {
    padding-bottom: var(#{"--lines-" + $key}) !important;
  }

  #{".py-l-" + $key} {
    padding-top: var(#{"--lines-" + $key}) !important;
    padding-bottom: var(#{"--lines-" + $key}) !important;
  }

  #{".mb-l-" + $key} {
    margin-bottom: var(#{"--lines-" + $key}) !important;
  }
}

@each $key, $value in f.theme(spacer-factors) {
  #{".pl-s-" + $key} {
    padding-left: var(#{"--spacer-" + $key}) !important;
  }

  #{".pr-s-" + $key} {
    padding-right: var(#{"--spacer-" + $key}) !important;
  }

  #{".px-s-" + $key} {
    padding-right: var(#{"--spacer-" + $key}) !important;
    padding-left: var(#{"--spacer-" + $key}) !important;
  }

  #{".ml-s-" + $key} {
    margin-left: var(#{"--spacer-" + $key}) !important;
  }

  #{".mr-s-" + $key} {
    margin-right: var(#{"--spacer-" + $key}) !important;
  }

  #{".mx-s-" + $key} {
    margin-right: var(#{"--spacer-" + $key}) !important;
    margin-left: var(#{"--spacer-" + $key}) !important;
  }
}
