/**
 * This module defines all mixins.
 *
 * To use any of the mixins in this module, you need to `@use` it:
 *
 *     @use "../mixins" as m;
 *
 *     .some-class {
 *       @include m.some-mixin;
 *     }
 */

@use "sass:map";

/* Tinnef mixins that you won't need in your styles. */

@mixin define-custom-properties($theme) {
  $maps: (
    color: colors,
    lines: lines,
  );
  $single-values: (base-size, modular-scale);

  @each $name, $key in $maps {
    @include map-to-properties($name, map.get($theme, $key));
  }

  @each $name in $single-values {
    --#{"" + $name}: #{map.get($theme, $name)};
  }

  $sizes: generate-sizes(
    map.get($theme, smaller-sizes),
    map.get($theme, larger-sizes)
  );

  $spacers: generate-spacers(
    map.get($theme, spacer-base),
    map.get($theme, spacer-factors)
  );

  @include map-to-properties(size, $sizes);
  @include map-to-properties(spacer, $spacers);
}

@mixin values-for-export($theme) {
  $maps: (
    color: colors,
    lines: lines,
  );
  $single-values: (base-size, modular-scale, spacer-base);
  $sizes: generate-sizes(
    map.get($theme, smaller-sizes),
    map.get($theme, larger-sizes)
  );

  @each $name, $theme-property in $maps {
    @each $key, $value in map.get($theme, $theme-property) {
      #{"" + $name}-#{"" + $key}: #{$value};
    }
  }

  @each $key, $value in $sizes {
    #{"size-" + $key}: #{$value};
  }
}

@function generate-sizes($smaller-sizes, $larger-sizes) {
  $sizes: ();

  @for $i from $smaller-sizes through 1 {
    $value: calc(var());
    $name: null;

    @if $i == 1 {
      $name: "s";
      $value: calc(var(--size-m) / var(--modular-scale));
    } @else {
      $base-size: "s";

      @if $i > 2 {
        @for $j from $i - 1 through 2 {
          $base-size: "x#{$base-size}";
        }
      }

      $name: "x#{$base-size}";
      $value: calc(var(--size-#{$base-size}) / var(--modular-scale));
    }

    $sizes: map.set($sizes, $name, $value);
  }

  $sizes: map.set($sizes, "m", 1rem);

  @for $i from 1 through $larger-sizes {
    $value: calc(var());
    $name: null;

    @if $i == 1 {
      $name: "l";
      $value: calc(var(--size-m) * var(--modular-scale));
    } @else {
      $base-size: "l";

      @if $i > 2 {
        @for $j from 2 through $i - 1 {
          $base-size: "x#{$base-size}";
        }
      }

      $name: "x#{$base-size}";
      $value: calc(var(--size-#{$base-size}) * var(--modular-scale));
    }

    $sizes: map.set($sizes, $name, $value);
  }

  @return $sizes;
}

@function generate-spacers($base, $factors) {
  $spacers: ();

  @each $factor in $factors {
    $spacers: map.set($spacers, $factor, $factor * $base);
  }

  @return $spacers;
}

@mixin map-to-properties($name, $map) {
  @each $key, $value in $map {
    --#{"" + $name}-#{"" + $key}: #{$value};
  }
}
